
$color-primary:#00994f !default; //Color definido
$color-secondary: #da5a24 !default; //Color definido

//$primary: $color-primary !default;
$primary: $color-secondary !default;
$success: $color-primary !default;
/*
$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;
*/
